<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create Operations</title>
</head>
<body>
<p><h1>Enter Details</h1></p><br>
<form action="http://127.0.0.1:5000/create_customer", method="POST">
    <p>Name : <input type="text" name="name"/></p>
    <p>Surname : <input type="text" name="surname"/></p>
    <p>DOB : <input type="text" name="DOB"/></p>
    <p>Address : <input type="text" name="address"/></p>
    <input type="submit">
</form>

</body>
</html>