<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
</head>
<body>
<p><h1>CRUD Operations Menu</h1></p><br>
<ul>
    <li><a href="{{ url_for('read_customer')}}">Read Operation</a></li>
    <li><a href="{{ url_for('create_customer')}}">Create Operation</a></li>
    <li><a href="{{ url_for('update_customer')}}">Update Operation</a></li>
    <li><a href="{{ url_for('delete_customer')}}">Delete Operation</a></li>

</ul>
</body>
</html>